[Unit]
Description={{description}}

[Service]
ExecStart={{start}}
{{#environment-file}}EnvironmentFile={{value}}{{/environment-file}}
{{#stop}}ExecStop={{value}}{{/stop}}
{{#cwd}}WorkingDirectory={{value}}{{/cwd}}
{{#environment}}
Environment="{{name}}={{value}}"
{{/environment}}
{{#hardening}}
{{name}}={{value}}
{{/hardening}}
{{#restart}}Restart={{value}}{{/restart}}
{{#restart-sec}}RestartSec={{value}}{{/restart-sec}}

[Install]
{{^wanted-by}}WantedBy=default.target{{/wanted-by}}
{{#wanted-by}}WantedBy={{value}}{{/wanted-by}}


