[Interface]
PrivateKey = {{private-key}}
Address = {{address}}
SaveConfig = true
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ifc}} -j MASQUERADE;
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ifc}} -j MASQUERADE; 
ListenPort = {{port}}
